body 
{
    font-family: Times New Roman;
    font-size: 16px;
    color:  #57312f;
    background: #000;
}
#logod{
	height: 110px;
	width: 180px;
}
#contenedor
{
    margin: 0px auto;
    width: 1250px;   

}
#cabecera
{
    color: white;
    background-color: #D8681D;
    border-top-left-radius: 25px;
     border-top-right-radius: 25px;
}
#logo{
	height:50px;
    margin-top: 50px;
    margin-left: 10px;
}
#logo1{
    padding-left: 70px;
    padding-top: 35px;
}
#menuar
{
    margin-left:  200px;
    background-color:#4D423c;
}
#cuerpo
{
    background-color: #4D423c;
 
}
#menuiz
{
    float:left;
    width:200px;
    background-color:#4D423c;
}
#contenido
{
    background-color:#ffffff;
    float:left;
    width: 990px !important;
	width /**/: 1000px;
    padding:30px;
}
#pie
{
    background-color:#D8681D;
    color: white;
    height:40px;
    text-align:center;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
    
}

#menuar ul li a, #menuiz ul li a{
	text-decoration:none;
	color:#FFFFFF;
	display:block;
}
#menuar ul li a:hover{
background-color: #480500;
}

 #menuiz ul li a:hover{
    text-decoration:blink;
    background-color: #480500;
   
}
#menuar ul li
{
    float:left;
    border-right:1px solid black;
    text-align:center;

    height: 40px;
    line-height:40px;
    width: 261.5px !important;
	width : 200px;
}
#menuiz ul li
{
    float:left;
    border-top : 2px solid black;
    text-align:center;

    height: 40px;
    line-height:40px;
    width: 199px !important;
    width : 200px;
}

ul, li{
    padding: 0;
    list-style: none;
}
.separar
{
    border: 0 none;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
}

h1{
font-size: 17px;
margin-bottom:10px;
font-family: "Lucida Sans Unicode";
}
p{
	line-height:16px;
}
#mapa{
    width: 300px;
    height: 300px;
}



#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: auto;
	text-align: center;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 11px;
	background: #bb5a1a;
	border-top: 4px solid #D8681D;
	border-bottom: 1px solid #fff;
	color: #ffffff;
}
#box-table-a td
{
	padding: 11px;
	background: #f0f0f0; 
	border-bottom: 1px solid #fff;
	color: #000000;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d9d9d9;
	color: #000000;
	text-decoration: blink;
}
#mapa{
    width: 400px;
    height: 200px;
    margin: auto;
}
.mensajeerror{
	color: red;
}
.btagregar{
	color:#480500;
	font-size:18px;
	text-decoration:none;
}
.btagregar:hover {
	color: #D8681D;
	font-size:18px;
	text-decoration:none;
}
